/* variables */
:root {
    --block-width: 50%;
}
/* ========= */

/* primary app styling */
html {
    scrollbar-width: none;
}

body {
    background: url('../assets/images/website-bg.png') no-repeat center center fixed;
    background-size: cover;

    color: white;
    font-family: 'Iosevka Regular', 'Courier New', Courier, monospace;
}

#app {
    height: 100vh;
    width: 100vw;
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 13px;

    width: 100%;
    height: 100%;
}
/* =================== */

/* header */
.header {
    display: flex;
    flex-direction: row;
    gap: 30px;

    width: var(--block-width);
    height: 85px;

    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.489), rgba(0, 0, 0, 0)), 
    url('../assets/images/header-bg.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    outline: 2px solid rgb(142, 142, 142);
    padding: 10px;

    transition: width 0.2s ease-out;
}

.header__info {
    align-content: center;
}

.header__name {
    margin-bottom: -6px;
    font-size: 1.5em;
}

.header__desc {
    font-size: 0.9em;
    color:rgba(255, 255, 255, 0.688);
    text-decoration: underline dashed;
    cursor: pointer;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* ====== */

/* quick-cards */
.quick-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: var(--block-width);

    transition: width 0.2s ease-out;
}

.quick-cards div {
    height: 85px;
    background-color: rgba(0, 0, 0, 0.448);
    outline: 2px solid rgb(142, 142, 142);

    align-content: center;
    padding: 0 16px 0 16px;

    font-size: 0.85em;
}

.quick-cards__icon {
    margin-right: 4px;
}

.quick-cards__devices {
    grid-column: span 2;
}

.quick-cards__collabs__status {
    font-size: 1.5em;
    max-width: 100px;
    line-height: 18px;
    color: rgb(196, 255, 196);
    margin-bottom: 6px;
}

.quick-cards__collabs__sub {
    line-height: 13px;
}

.quick-cards__time__title {
    max-width: 100px;
    line-height: 15px;
    margin-bottom: 2px;
}

.quick-cards__time__timezone {
    color: rgba(255, 255, 255, 0.583);
}

.quick-cards__time__clock {
    font-size: 1.5em;
}
/* =========== */

/* info */
.info {
    background-color: rgba(0, 0, 0, 0.448);
    outline: 2px solid rgb(142, 142, 142);
    width: var(--block-width);

    padding: 16px;
    font-size: 0.85em;

    transition: width 0.2s ease-out;
}

.info__title {
    font-weight: bold;
    margin-bottom: 14px;
}

.info__table__key {
    width: 200px;
}

.info__table__mood-update {
    color:rgba(255, 255, 255, 0.688);
}
/* ==== */

/* apps */
.apps {
    background-color: rgba(0, 0, 0, 0.448);
    outline: 2px solid rgb(142, 142, 142);
    width: var(--block-width);

    padding: 16px;
    font-size: 0.85em;

    transition: width 0.2s ease-out;
}

.apps__title {
    font-weight: bold;
    margin-bottom: 14px;
}

.apps__split-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.apps__table__key {
    width: 150px;
}

.apps__gif {
    width: 250px;
}
/* ==== */

/* badges */
.badges {
    background-color: rgba(0, 0, 0, 0.448);
    outline: 2px solid rgb(142, 142, 142);
    width: var(--block-width);

    padding: 10px;
    font-size: 0.85em;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6px;

    transition: width 0.2s ease-out;
}

.badges__img {
    width: 85px;

    transition: all 0.2s ease-out;
}

.badges__img:hover {
    transform: scale(120%);
}
/* ====== */

/* socials */
.socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.socials__url-wrapper {
    text-decoration: none;
    color: inherit;
}

.socials__button {
    background-color: rgba(0, 0, 0, 0.448);
    outline: 2px solid rgb(142, 142, 142);

    width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.6em;
}
/* ======= */

/* breakpoints */
@media (width <= 1350px) {
    :root {
        --block-width: 65%;
    }
}

@media (width <= 1040px) {
    :root {
        --block-width: 75%;
    }
}

@media (width <= 900px) {
    :root {
        --block-width: 85%;
    }
}

@media (width <= 795px) {
    :root {
        --block-width: 90%;
    }

    body {
        font-size: 15px;
    }

    .apps__gif {
        width: 200px;
    }

    .badges__img {
        width: 65px;
    }
}

@media (width <= 620px) {
    .quick-cards {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .quick-cards__devices { grid-area: 1 / 1 / 2 / 5; }
    .quick-cards__collabs { grid-area: 2 / 1 / 3 / 3; }
    .quick-cards__time    { grid-area: 2 / 3 / 3 / 5; }

    .apps__gif {
        display: none;
    }

    .apps__table__key, .info__table__key {
        width: 125px;
    }

    .socials__button {
        width: 45px;
        height: 45px;
    }
}

@media (width <= 420px) {
    .badges__img {
        width: 55px;
    }
}

@media (width <= 365px) {
    :root {
        --block-width: 93%;
    }

    body {
        font-size: 14px;
    }

    .badges__img {
        width: 45px;
    }
}

@media (height <= 775px) {
    .app-container {
        justify-content: start;
        margin-top: 20px;
    }
}
/* =========== */