/* primary app styling */
body {
    background: url('../assets/images/website-bg.png') no-repeat center center fixed;
    background-size: cover;

    color: white;
    font-family: 'Iosevka Regular', 'Courier New', Courier, monospace;
}

#app {
    height: 100vh;
    width: 100vw;
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    width: 100%;
    height: 100%;
}
/* =================== */

/* header */
.header {
    display: flex;
    flex-direction: row;
    gap: 30px;

    width: 45%;
    height: 85px;

    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.489), rgba(0, 0, 0, 0)), 
    url('../assets/images/header-bg.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    outline: 2px solid rgb(142, 142, 142);
    padding: 10px;
}

.header__info {
    align-content: center;
}

.header__name {
    margin-bottom: -6px;
    font-size: 1.5em;
}

.header__desc {
    font-size: 0.9em;
    color:rgba(255, 255, 255, 0.688);
    text-decoration: underline dashed;
    cursor: pointer;
}
/* ====== */

/* quick-cards */
.quick-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 45%;
}

.quick-cards div {
    height: 85px;
    background-color: rgba(0, 0, 0, 0.448);
    outline: 2px solid rgb(142, 142, 142);

    align-content: center;
    padding: 0 16px 0 16px;

    font-size: 0.85em;
}

.quick-cards__icon {
    margin-right: 4px;
}

.quick-cards__devices {
    grid-column: span 2;
}

.quick-cards__collabs__status {
    font-size: 1.5em;
    max-width: 100px;
    line-height: 18px;
    color: rgb(196, 255, 196);
    margin-bottom: 6px;
}

.quick-cards__time__title {
    max-width: 100px;
    line-height: 15px;
    margin-bottom: 2px;
}

.quick-cards__time__timezone {
    color: rgba(255, 255, 255, 0.583);
}

.quick-cards__time__clock {
    font-size: 1.5em;
}
/* =========== */