@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body {
    font-size: 18px;
    font-family: 'Manrope', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-  ;

    background-color: rgb(241, 241, 241);
}

.header {
    display: flex;
    justify-content: space-between;

    padding: 20px 50px;
}

.header__special {
    background-color: rgb(43, 43, 43);
    color: white;
    padding: 2px 5px;
    border-radius: 3px;
    margin-right: 5px;
    font-size: 0.9em;
}

.header__link {
    color: black;
    text-decoration: none;

    margin: 0 5px;
}

.header__link--selected {
    text-decoration: underline;
}

.main {
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
}

.logo__title {
    font-size: 6em;
    color: rgb(32, 32, 32);
}

.logo__undertitle {
    color: gray;
    /* negative pixels are bad but it's the quickest option here */
    margin-top: -15px;
}

.links {
    margin-top: 60px;
}

.link {
    margin: 0 7px;
    color: rgb(32, 32, 32);
}

.links__subtext {
    font-size: 0.7em;
    margin-top: 10px;
    color: rgb(184, 184, 184);
}

.works__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10vw;
}

.work {
    text-align: left;
}

.work__img {
    width: 250px;
    height: 150px;
    object-fit: cover;
    border: 1px solid gray;

    margin-bottom: 10px;
}

.work__title {
    font-size: 1.2em;
}

.work__description {
    font-size: 0.8em;
    color: gray;

    margin-bottom: 20px;
}

.work__btn {
    font-size: 0.9em;

    background-color: rgb(32, 32, 32);
    color: white;
    padding: 4px 10px;
    text-decoration: none;
}

.work__btn--inactive {
    background-color: rgb(90, 90, 90);
}